/* $bp-xsmall: 30em; // 480px 
 * $bp-small: 48em; // 768px
 * $bp-medium: 64em; // 1024px
 * $bp-large: 85.375em; // 1366px
 * $bp-xlarge: 120em; // 1920px
 * $bp-xxlarge: 160em; // 2560px
*/
:root {
  --default-max-width: 960px;
}
.container {
  background-color: rgb(153, 203, 245);
  color: white;
  border-radius: 5px;
  border: 1px solid;
  margin: 5px auto;
  max-width: var(--default-max-width);
}

.alert, .buttons, .card, .list-group {
  max-width: var(--default-max-width);
  margin: 0 auto;
}


.mb-0 {
  font-size: 12px;
}

.carousel {
margin: 0 auto;
max-width: var(--default-max-width);
}
header{
    background-color: rgb(153, 203, 245);
    max-width: var(--default-max-width);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1px;
}
.navbar{
    max-width: var(--default-max-width);
    margin: 0 auto;
}
.carousel-inner .carousel-item {
    width: 100%;
    height: 570px;
}
.modal-button{
    margin: 0 auto;
    max-width: var(--default-max-width);

}
.container .row .col{
    border: 5px solid;
}

